[Unit]
Description=Backup madoc files and Postgres db

[Service]
Type=simple
EnvironmentFile=/etc/docker/compose/madoc/.env
ExecStart=/usr/bin/backup-madoc.sh

[Install]
WantedBy=multi-user.target