# Postgres
POSTGRES_DB={{ madoc.shared_postgres.database }}
POSTGRES_PORT={{ madoc.shared_postgres.port }}
POSTGRES_USER={{ madoc.shared_postgres.user }}
POSTGRES_PASSWORD={{ madoc.shared_postgres.password }}

# Postgres users
POSTGRES_MADOC_TS_USER={{ madoc.shared_postgres.users.madoc_ts.user }}
POSTGRES_MADOC_TS_SCHEMA={{ madoc.shared_postgres.users.madoc_ts.schema }}
POSTGRES_MADOC_TS_PASSWORD={{ madoc.shared_postgres.users.madoc_ts.password }}

POSTGRES_TASKS_API_USER={{ madoc.shared_postgres.users.tasks_api.user }}
POSTGRES_TASKS_API_SCHEMA={{ madoc.shared_postgres.users.tasks_api.schema }}
POSTGRES_TASKS_API_PASSWORD={{ madoc.shared_postgres.users.tasks_api.password }}

POSTGRES_MODELS_API_USER={{ madoc.shared_postgres.users.models_api.user }}
POSTGRES_MODELS_API_SCHEMA={{ madoc.shared_postgres.users.models_api.schema }}
POSTGRES_MODELS_API_PASSWORD={{ madoc.shared_postgres.users.models_api.password }}

POSTGRES_CONFIG_SERVICE_USER={{ madoc.shared_postgres.users.config_service.user }}
POSTGRES_CONFIG_SERVICE_SCHEMA={{ madoc.shared_postgres.users.config_service.schema }}
POSTGRES_CONFIG_SERVICE_PASSWORD={{ madoc.shared_postgres.users.config_service.password }}

POSTGRES_SEARCH_API_USER={{ madoc.shared_postgres.users.search_api.user }}
POSTGRES_SEARCH_API_SCHEMA={{ madoc.shared_postgres.users.search_api.schema }}
POSTGRES_SEARCH_API_PASSWORD={{ madoc.shared_postgres.users.search_api.password }}

GATEWAY_HOST={{ madoc.gateway.host }}

MADOC_VERSION={{ madoc.version }}

SMTP_HOST={{madoc.smtp.host}}
SMTP_PORT={{madoc.smtp.port}}
SMTP_SECURITY={{madoc.smtp.security}}
SMTP_USER={{madoc.smtp.user}}
SMTP_PASSWORD={{madoc.smtp.password}}

MAIL_FROM_USER={{madoc.mail_from_user}}
MADOC_INSTALLATION_CODE={{madoc.installation_code}}